---
layout: layouts/home.njk
eleventyNavigation:
  key: form
  order: 4
---
<h1 >Input information</h1>
<form id="form" method="POST" data-netlify="true" class="container-fluid">
	<label for="firstName">Enter your first name</label>
	<input type="text" name="firstName" id="firstName" class="form-control">

	<label for="secondName">Enter your second name</label>
	<input type="text" name="secondName" id="secondName" class="form-control">

	<label for="email" >Enter your email</label>
	<input type="email" name="email" id="email" class="form-control">

	<label for="message" >Type your message</label>
	<input type="textarea" name="message" id="message" class="form-control">

	<button type="submit" class="btn btn-success">Send</button>
</form>
