---
layout: layouts/home.njk
eleventyNavigation:
  key: new content
  order: 5
---
<div class="jumbotron">
	<h1 class="display-4">New page for content</h1>
	<p class="lead">This is an example of a card component from bootstrap</p>
	<div class="card">
		<img src="../_assets/images/logo.png" alt="logo picture" class="card-img-top">
		<div class="card-body">
			<h4 class="card-title">Card Title</h4>
			<p class="card-text">This is an example of a card component</p>
		</div>
	</div>
</div>

