---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
{%- css %}{% include "public/css/index.css" %}{% endcss %}

<!-- Stop deleting -->

{{ content | safe }}
<img src="../../_assets/images/logo.png" alt="logo not working">
